{{log 'nahkampfwaffe' this}}
<form class="{{cssClass}}">
    <div>
        <div>
            <header class="sheet-header">
                <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
                <div class="header-fields">
                    <h1 class="charname">
                        <input name="name" type="text" value="{{item.name}}" />
                    </h1>
                </div>
            </header>
        </div>
        <div>
            <div class="flexrow">
                <label class="flex-fest-var" style="flex-basis: 100px"><b>Schaden:</b></label>
                <input
                    class="regex-check"
                    pattern="^\\\\\\\\d+[WwDd]\d{1,2}([\+\-]?\d*)?$"
                    title="TP der Waffe in Schema xWy+/-z Anzahl Würfel x, Würfelkürzel W,w,D oder d, Seitenanzahl y, +/- Modifikator und Modifikator z"
                    type="text"
                    name="system.tp"
                    value="{{item.system.tp}}"
                />
                <span class="validation-icon"></span>
            </div>
            <div class="flexrow">
                <label class="flex-fest-var" style="flex-basis: 100px"><b>Fertigkeit:</b></label>
                <div class="flexrow">
                    <input
                        name="system.fertigkeit"
                        value="{{item.system.fertigkeit}}"
                        type="text"
                        data-dtype="String"
                    />
                    <label class="flex-fest-var" style="flex-basis: 40px"><b>Talent:</b></label>
                    <input
                        name="system.talent"
                        value="{{item.system.talent}}"
                        type="text"
                        data-dtype="String"
                    />
                </div>
            </div>
            <div class="flexrow">
                <label class="flex-fest-var" style="flex-basis: 100px"><b>WM:</b></label>
                <div class="flexrow">
                    <input
                        name="system.wm_at"
                        value="{{item.system.wm_at}}"
                        type="text"
                        data-dtype="Number"
                    />
                    <label class="flex-fest-var" style="flex-basis: 1px"><b>/</b></label>
                    <input
                        name="system.wm_vt"
                        value="{{item.system.wm_vt}}"
                        type="text"
                        data-dtype="Number"
                    />
                    <label class="flex-fest-var" style="flex-basis: 30px"><b>RW:</b></label>
                    <input
                        name="system.rw"
                        value="{{item.system.rw}}"
                        type="text"
                        data-dtype="Number"
                    />
                </div>
            </div>
            <div class="flexrow">
                <label class="flex-fest-var" style="flex-basis: 100px"><b>Eigenschaften:</b></label>
                <span>
                    {{#each item.system.eigenschaften as |val key|}}
                    <label>{{get_label key}}</label>
                    <input
                        name="system.eigenschaften.{{key}}"
                        data-dtype="Boolean"
                        type="checkbox"
                        {{checked val}}
                    />
                    <label>| &nbsp;</label>
                    {{/each}}
                </span>
            </div>
            {{#if hasOwner}}
            <label class="flex-fest-var" style="flex-basis: 100px"><b>Eigene Mod.:</b></label>
            <div class="flexrow">
                <label class="flex-fest-var" style="flex-basis: 100px"><b>WM:</b></label>
                <div class="flexrow">
                    <input
                        name="system.mod_at"
                        value="{{item.system.mod_at}}"
                        type="text"
                        data-dtype="Number"
                    />
                    <label class="flex-fest-var" style="flex-basis: 1px"><b>/</b></label>
                    <input
                        name="system.mod_vt"
                        value="{{item.system.mod_vt}}"
                        type="text"
                        data-dtype="Number"
                    />
                </div>
            </div>
            <div class="flexrow">
                <label class="flex-fest-var" style="flex-basis: 100px"><b>Schadensbonus:</b></label>
                <input
                    name="system.mod_schaden"
                    value="{{item.system.mod_schaden}}"
                    type="text"
                    data-dtype="String"
                />
            </div>
            {{/if}}
            {{> systems/Ilaris/templates/sheets/items/base_item_layout.hbs}}
        </div>
    </div>
</form>
