{{log 'attribute' this}}
<div>
    <div style="display: flex; gap: 1em; align-items: flex-start;">
        <div>
            <h2>Attribute</h2>
            <table class="table" style="font-size:10pt; border-collapse: collapse; width: auto; table-layout: auto;">
                <thead>
                    <tr>
                        <th class="icon-small"></th>
                        <th>Attribut</th>
                        <th>Wert</th>
                        <th>PW</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each actor.system.attribute as |attribut key|}}
                    <tr style="background-color: rgba(255, 255, 255, 0);">
                        <td class="rollable icon-small" data-rolltype="attribut_diag" data-attribut="{{key}}">
                            <i class="custom-icon"></i>
                        </td>
                        <td>{{get_label key}}</td>
                        <td>
                            <input name="system.attribute.{{key}}.wert" value="{{attribut.wert}}" type="number" step="1"
                                data-dtype="Number" style="width: 4em; text-align: center;" />
                        </td>
                        <td class="rollable onhover" data-rolltype="attribut" data-attribut="{{key}}">
                            {{attribut.pw}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div>
            <h2>Eigenheiten</h2>
            <a class="item-create" data-itemclass="eigenheit"><i class="fas fa-plus"></i>Neue Eigenheit</a>
            <div>
                {{#each actor.eigenheiten}}
                <a class="item-edit" data-itemid="{{this.id}}"> {{this.name}}</a>
                <a class="item-delete" data-itemid="{{this.id}}"><i class="fas fa-trash"></i></a>
                <br> {{/each}}
                <h2>Vorteile</h2>
                {{#if actor.vorteil.allgemein}}
                <div>
                    <label><b>Allgemeine Vorteile:</b> <br> </label>
                    {{#each actor.vorteil.allgemein}}
                    <a class="item-edit"
                        data-itemid="{{this.id}}">
                        {{this.name}}
                    </a>
                    <a class="item-delete" data-itemid="{{this.id}}"><i class="fas fa-trash"></i></a>
                    <br> {{/each}}
                </div>
                {{/if}} {{#if actor.vorteil.profan}}
                <div>
                    <label><b>Profane Vorteile:</b><br></label>
                    {{#each actor.vorteil.profan}}
                    <a class="item-edit" data-itemid="{{this.id}}">
                        {{this.name}}
                    </a>
                    <a class="item-delete" data-itemid="{{this.id}}"><i class="fas fa-trash"></i></a>
                    <br> {{/each}}
                </div>
                {{/if}} {{#if actor.unsorted}}
                <br />
                <hr />
                <hr />
                <label><b>Unsorted Items:</b><br></label>
                {{#each actor.unsorted}}
                <a class="item-edit" data-itemid="{{this.id}}"> {{this.name}} </a>
                <a class="item-delete" data-itemid="{{this.id}}"><i class="fas fa-trash"></i></a>
                <br> {{/each}}
                <hr />
                <hr />
                {{/if}}
            </div>

        </div>
    </div>
</div>