{{log 'actor-sheet' this}}
<form class="herosheet" autocomplete="off">
  <div class=heroheader>
    <div>
      <h1><input name="name" type="text" value="{{actor.name}}" /></h1>

    </div>
    <div class="flexrow">
      {{#each (range 1 (add actor.system.schips.schips 1)) as |index|}}
      {{#if (lte index ../actor.system.schips.schips_stern)}}
      <span class="schips-button filled" name="system.schips.schips_stern" title="Schicksalspunkt"></span>
      {{else}}
      <span class="schips-button" title="verbrauchter Schicksalspunkt"></span>
      {{/if}}
      {{/each}}
    </div>

  </div>

  <div class="herosidebar">
    <div>
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    </div>
    <div class="attribute-grid">
      {{#each actor.system.attribute as |attribut key|}}
      <div class="attribute-wrapper rollable onhover" data-rolltype="attribut" data-attribut="{{key}}" title="{{key}}">
        <img class="profile-img" src="/systems/Ilaris/assets/images/Ilaris/{{key}}.png" />
        <label class="attribute-number">
          {{attribut.pw}}
        </label>
      </div>
      {{/each}}
    </div>
    <p> </p>
    <div class="icon-row">
      <div class="icon-overlay-container">
        <img src="/systems/Ilaris/assets/images/Ilaris/ws.svg" title="WS" />
        <span class="overlay-label">{{actor.system.abgeleitete.ws}}</span>
      </div>
      <div class="icon-overlay-container">
        <img src="/systems/Ilaris/assets/images/Ilaris/wsstern.png" title="WS*" />
        <span class="overlay-label">{{actor.system.abgeleitete.ws_stern}}</span>
      </div>
      <div class="icon-overlay-container rollable onhover" data-rolltype="simpleprobe_diag" data-name="Magierresistenz"
        data-pw="{{actor.system.abgeleitete.mr}}">
        <img src="/systems/Ilaris/assets/images/Ilaris/mr.png" title="MR"
          onmouseover="this.nextElementSibling.style.textShadow='0 0 5px red';"
          onmouseout="this.nextElementSibling.style.textShadow='none';" />
        <span class="overlay-label">{{actor.system.abgeleitete.mr}}</span>
      </div>
      <div class="icon-overlay-container">
        <img src="/systems/Ilaris/assets/images/Ilaris/ini.png" title="INI" />
        <span class="overlay-label">{{actor.system.abgeleitete.ini}}</span>
      </div>
      <div class="icon-overlay-container"> <img src="/systems/Ilaris/assets/images/Ilaris/gs.svg" title="GS" />
        <span class="overlay-label">{{actor.system.abgeleitete.gs}}</span>
      </div>
      <div class="icon-overlay-container">
        <img src="/systems/Ilaris/assets/images/Ilaris/DH.png" title="DH" />
        <span class="overlay-label">{{actor.system.abgeleitete.dh}}</span>
      </div>
    </div>
    <p> </p>
    <div style="font-size: 14px">
      {{#if actor.system.abgeleitete.zauberer}}
      <label class="ausklappen-trigger onhover" data-ausklappentarget="aspzugekauft"><b>AsP:</b></label>
      <label>{{actor.system.abgeleitete.asp}}&nbsp;</label>

      <label><b>gAsP:</b></label>
      <input style="width: 3em" name="system.abgeleitete.gasp" value="{{actor.system.abgeleitete.gasp}}"
        type="number" />

      <label>&nbsp;<b>AsP*:</b></label>
      <input style="width: 3em" name="system.abgeleitete.asp_stern" value="{{actor.system.abgeleitete.asp_stern}}"
        type="number" data-dtype="Number" />

      <span id="ausklappen-view-aspzugekauft" style="display: none">
        <label>Zugekauft: </label>
        <input style="width: 3em" name="system.abgeleitete.asp_zugekauft"
          value="{{actor.system.abgeleitete.asp_zugekauft}}" type="number" data-dtype="Number" />
      </span>
      <br>
      {{/if}}

      {{#if actor.system.abgeleitete.geweihter}}
      <label class="ausklappen-trigger onhover" data-ausklappentarget="kapzugekauft"><b>KaP:</b></label>
      <label>{{actor.system.abgeleitete.kap}}&nbsp;</label>

      <label><b>gKaP:</b></label>
      <input style="width: 3em" name="system.abgeleitete.gkap" value="{{actor.system.abgeleitete.gkap}}" type="number"
        data-dtype="Number" />

      <label>&nbsp;<b>KaP*:</b></label>
      <input style="width: 3em" name="system.abgeleitete.kap_stern" value="{{actor.system.abgeleitete.kap_stern}}"
        type="number" data-dtype="Number" />

      <span id="ausklappen-view-kapzugekauft" style="display: none">
        <label>Zugekauft: </label>
        <input style="width: 3em" name="system.abgeleitete.kap_zugekauft"
          value="{{actor.system.abgeleitete.kap_zugekauft}}" type="number" data-dtype="Number" />
      </span>
      <br />
      {{/if}}
    </div>
    <div>
      <a class="icon-small toggle-bool {{system.gesundheit.wundenignorieren}}"
        data-togglevariable="system.gesundheit.wundenignorieren">
        Wundabzüge
        {{#if actor.system.gesundheit.wundenignorieren}}
        ignorieren
        {{else}}
        nicht ignorieren
        {{/if}}
      </a>
    </div>
    <div class="flexrow">
      <b><label style="color: black; font-size: 16pt">{{actor.system.abgeleitete.globalermoddisplay}}</label></b>
    </div>
  </div>

  <div class="heroattributes">
    <div id="lebensleiste">
      <img class="profile-img" src="/systems/Ilaris/assets/images/Ilaris/Leben.png" data-edit="img" title="Leben"
        height="50" width="50" />
      {{#each (range 0 8) as |index|}}
      <button type="button"
        class="triStateBtn state-{{getButtonState index ../actor.system.gesundheit.wunden ../actor.system.gesundheit.erschoepfung}}"
        data-state="{{getButtonState index ../actor.system.gesundheit.wunden ../actor.system.gesundheit.erschoepfung}}">
      </button>
      {{/each}}
      <img class="profile-img" src="/systems/Ilaris/assets/images/Ilaris/Tod.png" data-edit="img" title="Tod"
        height="50" width="50" />
    </div>
    <div class="status-effects">
      {{#each actor.effects as |effect|}}
      {{#if effect.icon}}
      <img class="effect-control {{#if effect.active}}active{{/if}}" src="{{effect.icon}}"
        data-tooltip="{{effect.name}}" data-status-id="{{effect.statusId}}" />
      {{/if}}
      {{/each}}
    </div>
  </div>

  <div class=herotabnavigation>
    <hr />
    <div class="sheet-tabs tabs" data-group="primary">
      <b class="tab-item" data-tab="attribute">
        <img class="round-icon" src="/systems/Ilaris/assets/images/Ilaris/attribute.png" height="20" width="20" />
        Attribute
      </b>
      <b class="tab-item" data-tab="fertigkeiten">
        <img class="round-icon" src="/systems/Ilaris/assets/images/Ilaris/holzbearbeitung.png" height="20" width="20" />
        Fertigkeiten
      </b>
      <b class="tab-item" data-tab="uebernatuerlich">
        <img class="profile-img" src="/systems/Ilaris/assets/images/Ilaris/gildenmagie.png" height="20" width="20" />
        Übernatürlich
      </b>
      <b class="tab-item" data-tab="kampf">
        <img class="profile-img" src="/systems/Ilaris/assets/images/Ilaris/beidhaendig.png" height="20" width="20" />
        Kampf
      </b>
      <b class="tab-item" data-tab="inventar">
        <img class="round-icon" src="/systems/Ilaris/assets/images/Ilaris/Inventar.png" height="20" width="20" />
        Inventar
      </b>
      <b class="tab-item" data-tab="notes">
        <img class="round-icon" src="/systems/Ilaris/assets/images/Ilaris/Feder.png" height="20" width="20" />
        Notizen
      </b>
    </div>
  </div>

  <div class=herotab>
    <div class="sheet-body">
      <div class="tab" data-group="primary" data-tab="kampf">
        {{> systems/Ilaris/templates/sheets/tabs/kampf.hbs}}
      </div>
      <div class="tab" data-group="primary" data-tab="inventar">
        {{> systems/Ilaris/templates/sheets/tabs/inventar.hbs}}
      </div>
      <div class="tab" data-group="primary" data-tab="notes">
        {{> systems/Ilaris/templates/sheets/tabs/notes.hbs}}
      </div>
      <div class="tab" data-group="primary" data-tab="attribute">
        {{> systems/Ilaris/templates/sheets/tabs/attribute.hbs}}
      </div>
      <div class="tab" data-group="primary" data-tab="fertigkeiten">
        {{> systems/Ilaris/templates/sheets/tabs/fertigkeiten.hbs}}
      </div>
      <div class="tab" data-group="primary" data-tab="uebernatuerlich">
        {{> systems/Ilaris/templates/sheets/tabs/uebernatuerlich.hbs}}
      </div>
    </div>
  </div>
</form>
